*
{
    margin: 0px;
}
body
{
    background-color: rgb(228, 228, 228);
}
body>nav
{
    background-color: white;
    display: flex;
    align-items: center;
}

#d1 h1
{
    color: orangered;
    font-size:xx-large;
}
#d1 h1 span
{
    color:black;
    font-size: x-large;
}
#d1 span
{
    color:rgb(90, 89, 89);

}
#d2
{
    display: flex;
    column-gap: 15px;
    margin:0px 20px
}
#d1
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 150px;
}
#d3
{
    display: flex;
    column-gap: 25px;
    margin:0px 10px
}
#d3 a
{
    text-decoration: none;
    padding: 15px 2px;
}
nav #d3 #place a
{
    color: rgb(96, 111, 96);
    font-weight: bold;
    font-size: large ;
}
nav #d3 .d3 a
{
    color: rgb(255, 157, 0);
    font-weight: bold;
    font-size:large;
}
#d2 button
{
    background-color: transparent;
    border: none;
    font-size: medium;
    color: rgb(79, 79, 79);
    padding: 15px 2px;   
}
#d2 button:hover
{
    color: rgb(255, 119, 0);
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}
#d3 a:hover
{
    background-color: rgb(243, 243, 243);
}
#location
{
    display: flex;
    column-gap: 5px;
    position: absolute;
    position: relative;
}
#location a
{
    text-decoration: none;
    padding:2px 3px;
}
.dropdown .content a 
{
    font-size: large;
    display: block;
    padding: 15px;
    min-width: 150px;
    color: black;
    margin: 5px 0px;
    
}

.dropdown .content
{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 10px black;
    position: absolute;
    z-index: 1;
    display: none;
}
.dropdown:hover .content
{
    display: block;  
} 
.dropdown a:hover 
{
    background-color: rgb(207, 207, 207);
}
#a1
{
    background-color: rgb(247, 62, 62);
    color: white;
    font-size:medium;
}
#a2
{
    background-color: rgb(47, 79, 79);
    color: white;
    font-size: medium;
}
#a3
{
    background-color: rgb(27, 38, 49);
    color: white;
    font-size: medium;
}
#a4
{
    background-color: rgb(77, 86, 86);
    color: white;
    font-size: medium;
}
#a5
{
    background-color: #145A32;
    color: white;
    font-size: medium;
}
#a6
{
    background-color: rgb(21, 67, 96);
    color: white;
   font-size: medium; 
}
#a7
{
    background-color: rgb(27, 38, 49);
    color: white;
    font-size: medium;
}
#a8
{
    background-color: rgb(27, 79, 114);
    color: white;
    font-size: medium;
}
#a9
{
    background-color:rgb(112, 128, 144);
    color: white;
    font-size: medium;
}
#a10
{
    background-color: rgb(85, 107, 47);
    color: white;
    font-size: medium;
}
#a11
{
    background-color: rgb(95, 158, 160);
    color: white;
    font-size: medium;
}
#a12
{
    background-color: rgb(120, 40, 31);
    color: white;
    font-size: medium;
}
#a13
{
    background-color: rgb(112, 128, 144);
    color: white;
    font-size: medium;
}
#a14
{
    background-color:rgb(47, 79, 79);
    color: white;
    font-size: medium;
}
#a15
{
    background-color: rgb(27, 38, 49);
    color: white;
    font-size: medium;
}
#a16
{
    background-color: rgb(77, 86, 86);
    color: white;
    font-size: medium;
}
.container 
{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px 10px;
    position: relative;
}
#c1
{
    background-color: rgb(18, 110, 163, 0.4 );
    background-image: url(../images/futuristic.jpg);
    background-blend-mode:lighten;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    background-size: cover;
    width: 32%;
}
#c1 h4
{
    color: orange;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
#c1 p
{
    color: white;
    padding: 15px;
    font-size: larger;
    line-height: 20px;
}
#c2
{
    background-color:white;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    width: 32%;
}
#c2 h4
{
    color: orange;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
#c2 h5
{
    font-size: large;
    padding: 10px;
    color: #145a32b6;
    background-color: rgba(212, 212, 212, 0.228);
    margin: 10px;
}
#c2 h5 span
{
    color: orange;
}
#c3
{
    background-color:white;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    width: 32%;
}
#c3 h4
{
    color: orange;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
#c3 #year
{
    background-color: rgb(68, 66, 66);
    margin:5px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
}
#c3 #degree
{
    background-color: rgb(68, 66, 66);
    margin:5px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
}
#c3 #masters
{
    background-color: rgb(68, 66, 66);
    margin:5px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
}
#c3 #hire
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px;
}
#c3 #hire a
{
    font-size: larger;
    color: white;
    margin: 0px 3px;
    border-radius: 5px;
    background-color: #145a32c8;
    padding: 10px ;
    text-decoration: none;
}
#c3 .period 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px;
}

#c3 .period a
{
    font-size: medium;
    color: white;
    margin: 0px 3px;
    border-radius: 5px;
    background-color: #145a32c8;
    padding: 5px 10px;
    text-decoration: none;
}
#c3 .period .p1
{
    background-color: orange;
}
#c3 .be
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px;
}
#c3 .be a
{
    font-size: medium;
    color: white;
    margin: 0px 3px;
    border-radius: 5px;
    background-color: orange;
    padding: 5px 10px;
    text-decoration: none;
}
#c3 .me
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px;
}
#c3 .me a
{
    font-size: medium;
    color: white;
    margin: 0px 3px;
    border-radius: 5px;
    background-color: orange;
    padding: 5px 10px;
    text-decoration: none;
}

.container1
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    margin: 20px 0px;
}
.container1 div
{
    background-color: white;
    width:235px;
    height:130px;
    border-radius: 0px 0px 5px 5px;
}
.container1 h4
{
    color: orange;
    display: flex;
    justify-content: center;
    background-color: rgb(74,74,74);
    padding: 15px 0px;
    font-weight: bold;
}
.container1 p
{
    color: rgb(75, 75, 75);
    display: flex;
    line-height: 25px;
    text-align: center;
    font-size: large;
}
.container2
{
    background-color: white;
    margin: 10px 60px;
    text-align: center;
    width:auto;
    height: 200px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
}
.container2 h3
{
    padding: 15px 0px;
    color: white;
    background-color: #145a3293;
}
.container2 p
{
    color: rgb(67, 67, 67);
    padding: 10px;
}
.container2 h4
{
    font-size: large;
    color: orange;
    padding: 20px;
}
.container2 .green,.orange
{
    font-weight: bolder;
    font-size: large;
    margin: 10px 5px;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.container2 .green
{
    background-color: #145a3298;
    border-radius: 5px;
}
.container2 .orange
{
    background-color: orange;
      border-radius: 5px;
}
.footer
{
    background-color: white;
    position: sticky;
    bottom:0px;
    left: 0;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: start;
}
.footer .contact
{
    margin-left: 250px;
    font-size: larger;
}
.footer .contact a
{
    margin: auto 5px;
}
.footer a
{
    text-decoration: none;
    color: coral;
}
.footer a span
{
    font-weight: bolder;
}
.footer .privacy
{
    font-size: large;
    margin: auto 15px;
    font-weight: bolder;
    color: rgba(2, 97, 40, 0.557);
}
.footer #q
{
    color: rgb(47,117,172);
}
.footer #py
{
    color: rgb(91,94,166);
}
.footer .contact .c1
{
    color: orange;
}
.container3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: end;
}
.container3 .child
{
    background-color: white;
    margin: 10px;
    width: 30%;
}
.container3 h4
{
    color: orange;
    background-color: rgba(205, 205, 205, 0.845);
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding:15px 5px;
    font-size: larger;
    font-weight: bold;
}
.container3 img
{
    padding: 0 px;
    width: 25px;
    height: 25px;
}
.container3 h4 span
{
    display: flex;
    justify-content: end;
}
.container3 p
{
    color: rgb(110, 110, 110);
    font-size: large;
    padding: 20px;
    text-align: start;
}
.container3 .child div
{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}
.container3 .child .gr,.or
{
    color: white;
    padding: 5px 42px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.container3 .child .gr
{
    background-color: rgb(90,118,112);
}
.container3 .child .or
{
    background-color: rgb(255,152,0);
}
.container3 #last
{
    visibility: hidden;
}
.logos
{
    background-color: white;
    box-shadow: 0 0 10px black ;
    display: flex;
    justify-content: space-between  ;
}
.logos img
{
    width:100px;
    height:50px;
}
